<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iemylife.iot.weather.mapper.WeatherDataAirInfoMapper" >
  <resultMap id="BaseResultMap" type="com.iemylife.iot.weather.domain.po.WeatherDataAirInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="aqi" property="aqi" jdbcType="VARCHAR" />
    <result column="qlty" property="qlty" jdbcType="VARCHAR" />
    <result column="co" property="co" jdbcType="VARCHAR" />
    <result column="no2" property="no2" jdbcType="VARCHAR" />
    <result column="o3" property="o3" jdbcType="VARCHAR" />
    <result column="pm10" property="pm10" jdbcType="VARCHAR" />
    <result column="pm25" property="pm25" jdbcType="VARCHAR" />
    <result column="so2" property="so2" jdbcType="VARCHAR" />
    <result column="extendData" property="extendData" jdbcType="VARCHAR" />
    <result column="weatherProvider" property="weatherProvider" jdbcType="VARCHAR" />
    <result column="reportDate" property="reportDate" jdbcType="VARCHAR" />
    <result column="createTime" property="createTime" jdbcType="BIGINT" />
    <result column="isActive" property="isActive" jdbcType="BIT" />
    <result column="ts" property="ts" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, city, code, aqi, qlty, co, no2, o3, pm10, pm25, so2, extendData, weatherProvider, 
    reportDate, createTime, isActive, ts
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from weatherdataairinfo
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from weatherdataairinfo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.iemylife.iot.weather.domain.po.WeatherDataAirInfo" >
    insert into weatherdataairinfo (id, city, code, 
      aqi, qlty, co, no2, 
      o3, pm10, pm25, so2, 
      extendData, weatherProvider, reportDate, 
      createTime, isActive, ts)
    values (#{id,jdbcType=INTEGER}, #{city,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, 
      #{aqi,jdbcType=VARCHAR}, #{qlty,jdbcType=VARCHAR}, #{co,jdbcType=VARCHAR}, #{no2,jdbcType=VARCHAR}, 
      #{o3,jdbcType=VARCHAR}, #{pm10,jdbcType=VARCHAR}, #{pm25,jdbcType=VARCHAR}, #{so2,jdbcType=VARCHAR}, 
      #{extendData,jdbcType=VARCHAR}, #{weatherProvider,jdbcType=VARCHAR}, #{reportDate,jdbcType=VARCHAR},
      #{createTime,jdbcType=BIGINT}, #{isActive,jdbcType=BIT}, #{ts,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.iemylife.iot.weather.domain.po.WeatherDataAirInfo" >
    insert into weatherdataairinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="aqi != null" >
        aqi,
      </if>
      <if test="qlty != null" >
        qlty,
      </if>
      <if test="co != null" >
        co,
      </if>
      <if test="no2 != null" >
        no2,
      </if>
      <if test="o3 != null" >
        o3,
      </if>
      <if test="pm10 != null" >
        pm10,
      </if>
      <if test="pm25 != null" >
        pm25,
      </if>
      <if test="so2 != null" >
        so2,
      </if>
      <if test="extendData != null" >
        extendData,
      </if>
      <if test="weatherProvider != null" >
        weatherProvider,
      </if>
      <if test="reportDate != null" >
        reportDate,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
      <if test="isActive != null" >
        isActive,
      </if>
      <if test="ts != null" >
        ts,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="aqi != null" >
        #{aqi,jdbcType=VARCHAR},
      </if>
      <if test="qlty != null" >
        #{qlty,jdbcType=VARCHAR},
      </if>
      <if test="co != null" >
        #{co,jdbcType=VARCHAR},
      </if>
      <if test="no2 != null" >
        #{no2,jdbcType=VARCHAR},
      </if>
      <if test="o3 != null" >
        #{o3,jdbcType=VARCHAR},
      </if>
      <if test="pm10 != null" >
        #{pm10,jdbcType=VARCHAR},
      </if>
      <if test="pm25 != null" >
        #{pm25,jdbcType=VARCHAR},
      </if>
      <if test="so2 != null" >
        #{so2,jdbcType=VARCHAR},
      </if>
      <if test="extendData != null" >
        #{extendData,jdbcType=VARCHAR},
      </if>
      <if test="weatherProvider != null" >
        #{weatherProvider,jdbcType=VARCHAR},
      </if>
      <if test="reportDate != null" >
        #{reportDate,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="isActive != null" >
        #{isActive,jdbcType=BIT},
      </if>
      <if test="ts != null" >
        #{ts,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.iemylife.iot.weather.domain.po.WeatherDataAirInfo" >
    update weatherdataairinfo
    <set >
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="aqi != null" >
        aqi = #{aqi,jdbcType=VARCHAR},
      </if>
      <if test="qlty != null" >
        qlty = #{qlty,jdbcType=VARCHAR},
      </if>
      <if test="co != null" >
        co = #{co,jdbcType=VARCHAR},
      </if>
      <if test="no2 != null" >
        no2 = #{no2,jdbcType=VARCHAR},
      </if>
      <if test="o3 != null" >
        o3 = #{o3,jdbcType=VARCHAR},
      </if>
      <if test="pm10 != null" >
        pm10 = #{pm10,jdbcType=VARCHAR},
      </if>
      <if test="pm25 != null" >
        pm25 = #{pm25,jdbcType=VARCHAR},
      </if>
      <if test="so2 != null" >
        so2 = #{so2,jdbcType=VARCHAR},
      </if>
      <if test="extendData != null" >
        extendData = #{extendData,jdbcType=VARCHAR},
      </if>
      <if test="weatherProvider != null" >
        weatherProvider = #{weatherProvider,jdbcType=VARCHAR},
      </if>
      <if test="reportDate != null" >
        reportDate = #{reportDate,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="isActive != null" >
        isActive = #{isActive,jdbcType=BIT},
      </if>
      <if test="ts != null" >
        ts = #{ts,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.iemylife.iot.weather.domain.po.WeatherDataAirInfo" >
    update weatherdataairinfo
    set city = #{city,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      aqi = #{aqi,jdbcType=VARCHAR},
      qlty = #{qlty,jdbcType=VARCHAR},
      co = #{co,jdbcType=VARCHAR},
      no2 = #{no2,jdbcType=VARCHAR},
      o3 = #{o3,jdbcType=VARCHAR},
      pm10 = #{pm10,jdbcType=VARCHAR},
      pm25 = #{pm25,jdbcType=VARCHAR},
      so2 = #{so2,jdbcType=VARCHAR},
      extendData = #{extendData,jdbcType=VARCHAR},
      weatherProvider = #{weatherProvider,jdbcType=VARCHAR},
      reportDate = #{reportDate,jdbcType=VARCHAR},
      createTime = #{createTime,jdbcType=BIGINT},
      isActive = #{isActive,jdbcType=BIT},
      ts = #{ts,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>